name: npm vulnerability check for prod dependencies

on:
  push:
    branches: [ main ]
  pull_request:
    # The branches below must be a subset of the branches above
    branches: [ main ]

jobs:
  build-tasks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Checking vulnerabilities in prod dependencies- npm audit --prod
        run: |
          npm audit --prod
